<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <!-- CSS SECTION -->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/Content/app.css">
  </head>
  

  <nav class="navbar navbar-expand navbar-light navbar-custom">

    <a class="navbar-brand" href="/home">
      <img src="../../Assets/images/surveycon-logo.png" height="50" alt="logo" loading="lazy"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        
        <% if (title == "Home") { %>
        <li class="nav-item active">
        <% } else { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/home"><i class="fas fa-home"></i> Home</a>
        </li>

        <% if (title == "Contact List") { %>
        <li class="nav-item active">
        <% } else { %>
        <li class="nav-item">
        <% } %>
          <a class="nav-link" href="/contact-list"><i class="fas fa-list-alt"></i> Table of Contents</a>
        </li>

      </ul>
    </div>
  </nav>

