<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
<body style="background-color:#DAFED1;"><br>
<main class="container">

  <!-- Message Area -->

    
  <div class="container-fluid">
    <div class="row">
      <div class="col-">
        <h1 class="display-2">Hello!</h1><br>
        <h1 class="display-4">Welcome to the<br> biggest online <br> survey platform.</h1>
      </div>
      
      <div class="col-sm">
          <div class="offset-md-1 col-md-10">
            
            <a href="" class="btn btn-success" role="button">
            <i class="fas fa-plus-circle"></i> Create new survey</a><br><br>
            <table class="table table-bordered table-striped">
            <!-- Header Row -->
            <tr>
                <th class="text-center">Survey</th>
                <th class="text-center">Purpose</th>
                <th class="text-center">Creator</th>
                <th class="text-center">Rating</th>
                <th class="text-center"></th>
                <th class="text-center"></th>
            </tr>

              
            

            


            </table><br><br><br><br>
        </div>
        </div>
      </div>
    </div>
  </div>
</main>
</body>

<% include ../partials/footer.ejs %>


